<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string>plist</string>
				<string>dict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>XMLPropertyList</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string>plist</string>
				<string>dict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BinaryPropertyList</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>*</string>
				<string>plist</string>
				<string>dict</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ASCIIPropertyList</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>PlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptSuite</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AppleScriptSuiteDefinition</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PlistDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriptTerminology</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AppleScriptSuiteTerminology</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PlistDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Property List Editor</string>
	<key>CFBundleIconFile</key>
	<string>PropertyListEditor</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.PropertyListEditor</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1</string>
	<key>CFBundleSignature</key>
	<string>pled</string>
	<key>CFBundleVersion</key>
	<string>1106</string>
	<key>NSMainNibFile</key>
	<string>PropertyListEditor</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
