/**
    Built-in build rules

    The build rules that are built into Xcode.  Any or all of these could be overridden by a project, target or build style.
    
    IMPORTANT: The order of build rule dictionaries in this file is significant, since the build system will attempt to match a given file against each build rule's file type in turn, starting with the first one in the list, and the first one that matches will be the one used to build the file.  This implies that more specific build rules should come BEFORE less specific rules in this list.
*/
(
    // C-language files (C, Objective-C, C++, and Objective-C++)
    {
        Name = "System C rule";
        FileType = "sourcecode.c";
        CompilerSpec = "com.apple.compilers.gcc";
    },
    
    // Netwide assembler files
    {
        Name = "System nasm rule";
        FileType = "sourcecode.nasm";
        CompilerSpec = "com.apple.compilers.nasm";
    }, 
    
    // Assembler files
    {
        Name = "System Assembler rule";
        FileType = "sourcecode.asm";
        CompilerSpec = "com.apple.compilers.gcc";
    }, 
    
    // Lex files
    {
        Name = "System Lex rule";
        FileType = "sourcecode.lex";
        CompilerSpec = "com.apple.compilers.lex";
    }, 
    
    // Yacc files
    {
        Name = "System Yacc rule";
        FileType = "sourcecode.yacc";
        CompilerSpec = "com.apple.compilers.yacc";
    }, 
    
    // Rez files
    {
        Name = "System Resource (rez) rule";
        FileType = "sourcecode.rez";
        CompilerSpec = "com.apple.compilers.rez";
    }, 
    
    // Mig/Defs files
    {
        Name = "System Mach Interface Stub (MiG) rule";
        FileType = "sourcecode.mig";
        CompilerSpec = "com.apple.compilers.mig";
    },
    
    // DTrace files
    {
        Name = "System DTrace rule";
        FileType = "sourcecode.dtrace";
        CompilerSpec = "com.apple.compilers.dtrace";
    },
)

/* $Id: Built-in\040build\040rules.plist,v 1.18 2004/06/30 00:05:33 rawdon Exp $ */
