{
    Names = {
        English = "Application";
        Swedish = "Tillampning";
    };
    BuildPhases = (
        {
            Class = Headers;
        },
        {
            Class = Resources;
        },
        {
            Class = Sources;
        },
        {
            Class = Frameworks;
        },
        {
            Class = Rez;
        }
    );
    DefaultInstallationPath = "$(USER_APPS_DIR)";
    DefaultBuildFlags = {
        WRAPPER_EXTENSION = "app";
    };
    DefaultProductSettings = {
        CFBundleExecutable = "";
        CFBundleIconFile = "";
        CFBundleInfoDictionaryVersion = "6.0";
        CFBundleVersion = "0.0.1d1";
        CFBundleIdentifier = "";
        CFBundleDevelopmentRegion = English;
        CFBundlePackageType = "APPL";
        CFBundleSignature = "????";
        CFBundleName = "";
        CFBundleShortVersionString = "";
        CFBundleGetInfoString = "";
    };
}
