{
    Names = {
        English = "Framework";
        Swedish = "Ramverk";
    };
    BuildPhases = (
        {
            Class = Headers;
        },
        {
            Class = Resources;
        },
        {
            Class = Sources;
        },
        {
            Class = Frameworks;
        },
        {
            Class = Rez;
        }
    );
    DefaultInstallationPath = "$(LOCAL_LIBRARY_DIR)/Frameworks";
    DefaultBuildFlags = {
        DYLIB_COMPATIBILITY_VERSION = "1";
        DYLIB_CURRENT_VERSION = "1";
        FRAMEWORK_VERSION = "A";
        OTHER_LIBTOOL_FLAGS = "";
        PRINCIPAL_CLASS = "";
        WRAPPER_EXTENSION = "framework";
    };
    DefaultProductSettings = {
        CFBundleExecutable = "";
        CFBundleIconFile = "";
        CFBundleInfoDictionaryVersion = "6.0";
        CFBundleVersion = "0.0.1d1";
        CFBundleIdentifier = "";
        CFBundleDevelopmentRegion = English;
        CFBundlePackageType = "FMWK";
        CFBundleSignature = "????";
        CFBundleName = "";
        CFBundleShortVersionString = "";
        CFBundleGetInfoString = "";
    };
}
