{
    Names = {
        English = "Library";
        Swedish = "Bibliotek";
    };
    BuildPhases = (
        {
            Class = Headers;
        },
        {
            Class = Sources;
        },
        {
            Class = Frameworks;
        },
        {
            Class = Rez;
        }
    );
    DefaultInstallationPath = "/usr/local/lib";
    DefaultBuildFlags = {
        DYLIB_COMPATIBILITY_VERSION = "1";
        DYLIB_CURRENT_VERSION = "1";
        LIBRARY_STYLE = STATIC;
        OTHER_LIBTOOL_FLAGS = "";
        REZ_EXECUTABLE = YES;
    };
}
